<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bushman.Extensions.Configuration.Secrets" version="2.0.0" targetFramework="net462" />
  <package id="Bushman.Secrets" version="2.0.0" targetFramework="net462" />
  <package id="Bushman.Secrets.Abstractions" version="2.0.0" targetFramework="net462" />
  <package id="Microsoft.ApplicationInsights" version="2.22.0" targetFramework="net462" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.0-preview.7.24405.7" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration" version="9.0.0-preview.7.24405.7" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="9.0.0-preview.7.24405.7" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="9.0.0-preview.7.24405.7" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="9.0.0-preview.7.24405.7" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Json" version="9.0.0-preview.7.24405.7" targetFramework="net462" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="9.0.0-preview.7.24405.7" targetFramework="net462" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="9.0.0-preview.7.24405.7" targetFramework="net462" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="9.0.0-preview.7.24405.7" targetFramework="net462" />
  <package id="Microsoft.Extensions.Primitives" version="9.0.0-preview.7.24405.7" targetFramework="net462" />
  <package id="Microsoft.Testing.Extensions.Telemetry" version="1.4.0-preview.24422.11" targetFramework="net462" />
  <package id="Microsoft.Testing.Extensions.TrxReport.Abstractions" version="1.4.0-preview.24422.11" targetFramework="net462" />
  <package id="Microsoft.Testing.Extensions.VSTestBridge" version="1.4.0-preview.24422.11" targetFramework="net462" />
  <package id="Microsoft.Testing.Platform" version="1.4.0-preview.24422.11" targetFramework="net462" />
  <package id="Microsoft.Testing.Platform.MSBuild" version="1.4.0-preview.24422.11" targetFramework="net462" />
  <package id="Microsoft.TestPlatform.ObjectModel" version="17.11.0" targetFramework="net462" />
  <package id="MSTest.TestAdapter" version="3.5.2" targetFramework="net462" />
  <package id="MSTest.TestFramework" version="3.5.2" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net462" />
  <package id="System.Collections.Immutable" version="9.0.0-preview.7.24405.7" targetFramework="net462" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.0-preview.7.24405.7" targetFramework="net462" />
  <package id="System.IO.Pipelines" version="9.0.0-preview.7.24405.7" targetFramework="net462" />
  <package id="System.Memory" version="4.5.5" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Reflection.Metadata" version="9.0.0-preview.7.24405.7" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net462" />
  <package id="System.Text.Encodings.Web" version="9.0.0-preview.7.24405.7" targetFramework="net462" />
  <package id="System.Text.Json" version="9.0.0-preview.7.24405.7" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
</packages>